*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.7;
}

header{
background:#111827;
padding:20px;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1200px;
margin:auto;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:3rem;
}

.hero p{
max-width:700px;
margin:20px auto;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#06b6d4;
color:white;
text-decoration:none;
border-radius:8px;
}

section{
max-width:1200px;
margin:auto;
padding:80px 20px;
}

h2{
margin-bottom:30px;
color:#06b6d4;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:12px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.experience-box,
.contact-box{
background:#1e293b;
padding:25px;
border-radius:12px;
}

footer{
text-align:center;
padding:20px;
background:#111827;
}
